<h1>Uploading a Deliverable</h1>
<div class="box">
  <div class="tablebox-head">
     Uploading a Deliverable
  </div>
  <div class="table">
<table>
  <tr>
    <th>Project Name</th>
    <th>Project Lifecycle</th>
    <th>Project Phase</th>
    <th>Deliverable Name</th>
  </tr>
  <tr>
    <td><%= @project.name %></td>
    <td><%= @project.lifecycle %></td>
    <td><%= @deliverable.phase %></td>
    <td><%= @deliverable.name %></td>
  </tr>
  <tr>
    <th colspan="4">Attach a File</th>
  </tr>
  <tr>
    <td colspan="4">
      <% form_for @deliverable, :url => {:action => :update, :id => @deliverable.id}, :html => { :multipart => true } do |f|%>
        <%= f.file_field :attachment %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
        <%= f.submit 'Submit', :class=>"button" %>
      <% end %>
    </td>
  </tr>
</table>
  </div>
</div>
<%= link_to '&laquo; Back to Phases', :controller => :deliverables, :default_phase => @deliverable.phase %>