<% if searchresults.length == 0 %>

	<p>Sorry! No projects found...</p>

<% else %>
<table id="content_table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Lifecycle</th>
    <th>Owner</th>
    <th>Action</th>
  </tr>

<% searchresults.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.status %></td>
    <td><%=h project.lifecycle %></td>
    <td><%=h project.user.username %></td>
    <td><%= link_to 'Show', project %> |
        <%= link_to 'Edit', edit_project_path(project) %> |
        <%= link_to 'Transfer project', :controller=>'users', :action=>'transfer_project', :id=>project.id %> |
        <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>
<% end %>
