<% content_for :menu do %>
<ul>
  <li>
    <a href="/admin_home " title="Admin Home">ADMIN HOME</a>
  </li>
  <li>
    <a class="current" href="/admin_projects " title="Manage Projects">MANAGE PROJECTS</a>
  </li>
  <li>
    <a href="/users" title="Manage Users">MANAGE USERS</a>
  </li>
  <li>
    <a href="<%= root_url %>" title="Regular User Mode">REGULAR USER MODE</a>
  </li>
</ul>
<% end %>
<%=form_tag({}, {:id => "search"}) %>
<b>Search Project:</b>
  <%= text_field_tag("query", params[:query], :autocomplete => "off" )%>
  <a href ="/admin_projects">Clear Search</a>
    <%= observe_field 'query',  :frequency => 2,
    :update => "search_results",
    :url => {:controller => "users", :action => "search"},
    :with => "query" %>

<div id="search_results">
<h1>Listing projects</h1>
<table id="content_table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Lifecycle</th>
    <th>Action</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.status %></td>
    <td><%=h project.lifecycle %></td>
    <td><%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Transfer project', :controller=>'users', :action=>'transfer_project', :id=>project.id %>
        <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<br />
</div>