<b><%=  link_to "Create User", new_user_path%> |
<%=  link_to "Projects", admin_projects_path%> |
<%=  link_to "Change Passowrd", change_password_path%> </b>

<div id="profile" class="col col1">
  <h2 class="border">Admin profile</h2>
  <div class="entry">
      <div class="profile-title-generic">
        <%=current_user.user_class%>
      </div>
      <p>
        <img src="/images/user-icon.png" class="alignright" alt="" />
          ID:<%=current_user.id%>
        <br />
          name:<%=current_user.username%>
        <br />
          Email:<%=current_user.email%>
        <br />
          User class:<%=current_user.user_class%>
        <br />
        <br />
          <%= link_to "Edit", edit_user_path(current_user)%>

        <br />

      </p>

  </div>
  
</div>
