<% content_for :menu do %>
<ul>
  <li>
    <a class="current" href="/admin_home " title="Admin Home">ADMIN HOME</a>
  </li>
  <li>
    <a href="/admin_projects " title="Manage Projects">MANAGE PROJECTS</a>
  </li>
  <li>
    <a href="/users" title="Manage Users">MANAGE USERS</a>
  </li>
  <li>
    <a href="<%= root_url %>" title="Regular User Mode">REGULAR USER MODE</a>
  </li>
</ul>
<% end %>

<div id="profile" class="col col1">
  <h2 class="border">Admin profile</h2>
  <div class="entry">
      <div class="profile-title-generic">
        <%=current_user.user_class%>
      </div>
      <p>
        <img src="/images/user-icon.png" class="alignright" alt="" />
          ID:<%=current_user.id%>
        <br />
          name:<%=current_user.username%>
        <br />
          Email:<%=current_user.email%>
        <br />
          User class:<%=current_user.user_class%>
        <br />
        <br />
          <%=  link_to "Change Passowrd", change_password_path%> |
          <%= link_to "Edit", edit_user_path(current_user)%>

        <br />

      </p>

  </div>
  
</div>
