<h1>Change Password</h1>

<% form_for(@user, :url=>{:action => 'update_password'}) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

