<% if current_user.user_class == "admin" %>
<% content_for :menu do %>
<ul>
  <li>
    <a href="/admin_home " title="Admin Home">ADMIN HOME</a>
  </li>
  <li>
    <a href="/admin_projects " title="Manage Projects">MANAGE PROJECTS</a>
  </li>
  <li>
    <a class="current" href="/users" title="Manage Users">MANAGE USERS</a>
  </li>
  <li>
    <a href="<%= root_url %>" title="Regular User Mode">REGULAR USER MODE</a>
  </li>
</ul>
<% end %>
<% else %>
<% content_for :menu do %>
<ul>
  <li>
    <a class="current" href="<%= root_url%> " title="home">HOME</a>
  </li>
  <li>
    <a href="/projects " title="Projects">PROJECTS</a>
  </li>
  <li>
    <a href="/about_us" title="About Us">ABOUT US</a>
  </li>
  <li>
    <a href="/contact" title="Contact">CONTACT</a>
  </li>
</ul>
<% end %>

<% end %>

<h1>Change Password</h1>

<% form_for(@user, :url=>{:action => 'update_password'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :new_password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

