<% content_for :menu do %>
<ul>
  <li>
    <a href="/admin_home " title="Admin Home">ADMIN HOME</a>
  </li>
  <li>
    <a href="/admin_projects " title="Manage Projects">MANAGE PROJECTS</a>
  </li>
  <li>
    <a class="current" href="/users" title="Manage Users">MANAGE USERS</a>
  </li>
  <li>
    <a href="<%= root_url %>" title="Regular User Mode">REGULAR USER MODE</a>
  </li>
</ul>
<% end %>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Password</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%=h user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>