<% content_for :menu do %>
<ul>
  <li>
    <a href="/admin_home " title="Admin Home">ADMIN HOME</a>
  </li>
  <li>
    <a href="/admin_projects " title="Manage Projects">MANAGE PROJECTS</a>
  </li>
  <li>
    <a class="current" href="/users" title="Manage Users">MANAGE USERS</a>
  </li>
  <li>
    <a href="<%= root_url %>" title="Regular User Mode">REGULAR USER MODE</a>
  </li>
</ul>
<% end %>
<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>