<% content_for :menu do %>
<ul>
  <li>
    <a href="/admin_home " title="Admin Home">ADMIN HOME</a>
  </li>
  <li>
    <a class="current" href="/admin_projects " title="Manage Projects">MANAGE PROJECTS</a>
  </li>
  <li>
    <a href="/users" title="Manage Users">MANAGE USERS</a>
  </li>
  <li>
    <a href="<%= root_url %>" title="Regular User Mode">REGULAR USER MODE</a>
  </li>
</ul>
<% end %>
<b>Project Name: </b><%= @project.name %><br />
<b>Project Description : </b><%= @project.description %> <br />
<b>Project User: </b><%= @project_user_name %><br />
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Action</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Assign', :controller=>'users', :action=>'assign',
            :project_id=>@project.id,:user_id=>user.id %></td>
  </tr>
<% end %>
</table>

<br />