<h1>Listing temps</h1>

<table>
  <tr>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>

<% @temps.each do |temp| %>
  <tr>
    <td><%=h temp.email %></td>
    <td><%=h temp.first_name %></td>
    <td><%=h temp.last_name %></td>
    <td><%= link_to 'Show', temp %></td>
    <td><%= link_to 'Edit', edit_temp_path(temp) %></td>
    <td><%= link_to 'Destroy', temp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New temp', new_temp_path %>