<table id="pet_calc">
  <tr>
    <td>Estimated_size :</td>
    <td><input id="deliverable_estimated_size" name="deliverable[estimated_size]" size="30" type="text" value="<%= "#{session[:estimated_size]}" %>" />
    <%= observe_field :deliverable_estimated_size,
        :frequency => 1,
        :url => {:action=>'capture_calculation_data', :only_path=>false},
        :with => "'estimated_size=' + encodeURIComponent(value)+'&field=' + 1"%></td>
  </tr>
  <tr>
    <td>Production_rate:</td>
    <td><input id="deliverable_production_rate" name="deliverable[production_rate]" size="30" type="text" value="<%= "#{session[:production_rate]}"%>" />
    <%= observe_field :deliverable_production_rate,
        :frequency => 1,
        :url => {:action=>'capture_calculation_data', :only_path=>false},
        :with => "'production_rate=' + encodeURIComponent(value)+'&field=' + 2"%></td>
  </tr>
  <tr>
    <td>Estimated_effort:</td>
    <td><input id="deliverable_estimated_effort" name="deliverable[estimated_effort]" size="30" type="text" value="<%= "#{session[:estimated_effort]}"%>" />
    <%= observe_field :deliverable_estimated_effort,
        :frequency => 1,
        :url => {:action=>'capture_calculation_data', :only_path=>false},
        :with => "'estimated_effort=' + encodeURIComponent(value)+'&field=' + 3"%></td>
  </tr>
  <tr>
    <td><%= link_to_remote 'Calculate', :url=>{:action => "process_calc_inputs"}, :update=>'pet_calc_div' %></td>
  </tr>
</table>
