<div class="content" id="new_del">

  <% form_for @deliverable, :url=>{:action=>"create"} do |f| %>
      <%= f.error_messages %>

      <table id="pet_table">
        <tr>
          <td><%= f.label :deliverable_type, "Select Deliverable Type" %></td>
          <td><%= select(:deliverable, :deliverable_type, @deliverable_types,
            {:prompt   => "Select a deliverable type"},
            {:onchange => "#{remote_function(:url  =>
              {:action => "update_unit_of_measurement_partial"},
               :with => "'deliverable_type='+value")}"})%>
          </td>
        </tr>
        <tr>
          <td>
            <div id="ad_hoc_label">
            <%  if @ad_hoc_type.nil? %>
                <%= render :partial => "blank" %>
            <% else %>
                <%= render :text => "Ad-Hoc Type Name" %>
            <% end %>
            </div>
          </td>
          <td>
            <div id="ad_hoc_type">
            <%  if @ad_hoc_type.nil? %>
                <%= render :partial => "blank" %>
            <% else %>
                <%= render :partial => 'ad_hoc_type',
                :object=>@ad_hoc_type%>
            <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= f.label :name, "Deliverable Name" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :description, "Deliverable Description" %></td>
          <td><%= f.text_area :description %></td>
        </tr>
        <tr>
          <td><%= f.label :complexity %></td>
          <td><%= select(:deliverable, :complexity, @complexities,
              {:prompt   => "Select a complexity"}) %></td>
        </tr>
        <tr>
          <td><%= f.label :unit_of_measurement %></td>
          <td>
            
            <div id="unit_of_measurement">
            <% if @ad_hoc_measurement.nil? %>
              <%= render :partial => "unit_of_measurement",
                :object=>@unit_measurements %>

            <% else %>
              <%= render :partial => 'ad_hoc_unit',
                :object=>@ad_hoc_measurement %>
            <% end %>
            </div>
          </td>
        </tr>
      </table>

      <div id="pet_calc_div">
        <%= render :partial=>'pet_calc' %>
      </div>
      
      <%= link_to "Historical Data", "#" %>
      <br/>
</div>
    <%= f.submit 'Create' %>

  <% end %>

