<div class="content">

  <% form_for @deliverable, :url=>{:action=>"create"} do |f| %>
      <%= f.error_messages %>

      <%= f.label :deliverable_type, "Select Deliverable Type" %>
      <%= select(:deliverable, :deliverable_type, @deliverable_types) %>
      <br/>
      <%= f.label :name, "Deliverable Name" %>
      <%= f.text_field :name %>
      <br/>
      <%= f.label :description, "Deliverable Description" %>
      <%= f.text_area :description %>
      <br/>
      <%= f.label :complexity %>
      <%= select(:deliverable, :complexity, @complexities) %>
      <br/>
      <%= f.label :unit_measurement %>
      <%= f.text_field :unit_measurement %>
      <br/>
      <%= f.label :estimated_size %>
      <%= select(:deliverable, :estimated_size, @estimated_sizes) %>
      <br/>
      <%= f.label :production_rate %>
      <%= select(:deliverable, :production_rate, @production_rates) %>
      <br/>
      <%= f.label :estimated_effort %>
      <%= select(:deliverable, :estimated_effort, @efforts) %>

</div>

<%= link_to "Historical Data", "#" %>
      <br/>
      <%= f.submit 'Create' %>

  <% end %>