<div class="content" id="new_del">

  <% form_for @deliverable, :url=>{:action=>"create"} do |f| %>
      <%= f.error_messages %>

      <!-- TODO:  Change to Table -->
      <%= select(:deliverable, :deliverable_type, @deliverable_types,
          {:prompt   => "Select a phase"}) %>
      <%= f.label :deliverable_type, "Select Deliverable Type" %>
      
      <br/>
      
      <%= f.text_field :name %>
      <%= f.label :name, "Deliverable Name" %>
      <br/>
      <%= f.text_area :description %>
      
      <%= f.label :description, "Deliverable Description" %>
      <br/>
      
      <%= f.label :complexity %>
      <%= select(:deliverable, :complexity, @complexities,
      {:prompt   => "Select a complexity"}) %>
      <br/>
      <%= f.text_field :unit_measurement %>
      <%= f.label :unit_measurement %>
      <br/>

      <div id="pet_calc">
        <%= select(:deliverable, :estimated_size, @estimated_sizes,
        {:prompt   => "Select a size"}) %>
        <%= f.label :estimated_size %>
        <br/>
        <%= select(:deliverable, :production_rate, @production_rates,
        {:prompt   => "Select a production rate"}) %>
        <%= f.label :production_rate %>
        <br/>
        <%= select(:deliverable, :estimated_effort, @efforts,
        {:prompt   => "Select a estimated effort"}) %>
        <%= f.label :estimated_effort %>
        
        <%= f.submit 'Calculate', :action => "process_calc_inputs" %>
      </div>

      <%= link_to "Historical Data", "#" %>
      <br/>
</div>
    <%= f.submit 'Create' %>

  <% end %>

