<h1>Create a Project</h1>


  <% form_for(@project) do |f| %>
    <%= f.error_messages %>

    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
    <br/>
    <%= f.label :lifecycle %>
    <br/>
    <%= select(:project, :lifecycle, @lifecycle_array, {:prompt => "Select a Lifecycle"}) %>
    <br/>
    
    <%= f.submit 'Create' %>
    
  <% end %>

  

  <%= link_to 'Back to Project Home', projects_path %>
