<div class="box">
  <div class="tablebox-head">
    Overview for <%= @project.name  %>
  </div>
  <div class="table">
<table id="content_overview">
  <tr>
    <th colspan="2"><h3>Lifecycle: <%= @project.lifecycle %></h3></th>
  </tr>
  <tr>
    <th>Phases</th>
    <th>Estimated Effort (Man-Hours)</th>
  </tr>

  <% @phase_efforts.each do |phase, deliverables| %>
  <tr>
    <td class="phase"><%= phase %> </td>
    <td><%= calculate_phase_effort(@project.id, phase)  %></td>
  </tr>

    <% deliverables.each do |id, array| %>
    <tr>
      <td><%= array[0] %></td>
      <td><%= array[1] %></td>
    </tr>
    <% end %>
  <% end %>  
</table>
  </div>
</div>

<%= link_to '&laquo; Project Phases', :controller => :deliverables, :action => :index, :project_id=>@project.id %><br/>
<%= link_to '&laquo; Project Homepage', :controller => :projects %><br/>
