<div class="box">
  <div class="tablebox-head">
     Effort Log for <%= @project.name %>
  </div>
  <div class="table">
<table id="content_overview">
  <tr>
    <th>Phase</th>
    <th>Deliverable Name</th>
    <th>Hours Logged</th>
    <th>Effort</th>
    <th>Action</th>
  </tr>

  <% for @del in @deliverables %>
  <tr>
    <td><%= @del.phase %></td>
    <td><%= @del.name %></td>
    <td><%= @del.hours_logged %></td>
    <% form_for @del, :url => {:action => :log_hours, :project_id => @project.id, :deliverable_id => @del.id} do |f| %>
    <td>
      <%= f.text_field :hours_logged %>
    </td><td>
      <%= f.submit 'Log' %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
    </div>
</div>

<%= link_to '&laquo; Back', projects_path %> 
