<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>PET v1.3 Create Project</title>
    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "blue" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="content-main">
      <div id="top">
        <div id="icons">
          <% if current_user %>
            <%=link_to "Logout", logout_path%>
            <%#=link_to "Edit Profile", edit_user_path%> |
            <a href="/projects" title="Home page">Home</a> |
            <a href="/contact/" title="Contact us">Contact</a> <br />
            Logged in as : <%=current_user.username%>
           <%else%>
             <a href="/contact/" title="Contact us">Contact</a>
          <%end%>
        </div>
        <h1>PET v1.3</h1>
        <h2>Ease your project management</h2>
      </div>
      <div id="menu">
        <ul>
          <li>
            <a class="current" href="<%= root_url%> " title="home">HOME</a>
          </li>
          <li>
            <a href="/projects " title="Projects">PROJECTS</a>
          </li>
          <li>
            <a href="/about_us" title="About Us">ABOUT US</a>
          </li>
          <li>
            <a href="/contact" title="Contact">CONTACT</a>
          </li>
        </ul>
      </div>

      <div id="main">
        <div id="right_side">
          <div class="pad">
            <img src="/images/rails.png"/>
            <h3>The Process Enactment Tool (PET) is the latest in NDSS' long
              line of software management tools. Setup new projects, upload new
              deliverables, share with other teams and report project metrics.
              Ease your project management.
            </h3>

          </div>
           <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div id="left_side">
          <div class="intro">
            <div class="pad">This is the final course project for Carnegie
              Mellon University's Foundations of Software Engineering course in
              Fall 2010. As of this version this code is for demonstration
              purposes ONLY. 
              <br /><a href="#" title="Pet">Read more...</a>

            </div>
          </div>
          <div class="mpart">
            <p style="color: green"><%= notice %></p>
            <%= yield %>
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="right">
          &copy; Copyright 2010 Clifford Chen<br/>
          Layout courtesy of <%= link_to 'Free CSS Templates', "http://www.free-css-templates.com/" %>
        </div>
      </div>
    </div>
  </body>
</html>
